---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=12XsVy8nEO6w6CqL&query=Denver,%20Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resultsPage":{"status":"ok","results":{"location":[{"city":{"lat":39.7263,"lng":-104.965,"country":{"displayName":"US"},"state":{"displayName":"CO"},"displayName":"Denver"},"metroArea":{"lat":39.7263,"lng":-104.965,"country":{"displayName":"US"},"uri":"http://www.songkick.com/metro_areas/6404-us-denver?utm_source=27408&utm_medium=partner","state":{"displayName":"CO"},"displayName":"Denver","id":6404}}]},"perPage":50,"page":1,"totalEntries":1}}'
  recorded_at: Mon, 14 Jul 2014 19:20:02 GMT
recorded_with: VCR 2.9.2
