---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=12XsVy8nEO6w6CqL&query=Malibucktoo,%20Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"resultsPage":{"status":"ok","results":{},"perPage":50,"page":1,"totalEntries":0}}'
  recorded_at: Mon, 14 Jul 2014 19:24:47 GMT
recorded_with: VCR 2.9.2
