<div class="jumbotron">
  <h2 style="text-align: center; margin-top: -1em; margin-bottom: 1em">
    <%= @user.first_name %> <%= @user.last_name %>'s Favorited Shows
  </h2>
  <%= render partial: 'users/event', collection: @user.events %>
</div>