<div class="jumbotron">
  <div class="container">
  <h1 style="text-align: center; margin-top: -200px; margin-bottom: -300px"><%= image_tag("../AggreLive_logo (3) copy.png", alt: "AggreLive Logo") %>
  </h1>
    <h2 style="text-align: center">
      The live event aggregator
    </h2>
  </div>
</div>