$navbar-default-bg: #C7F464;
$mighty-slate: #556270;
$pacifica: #4ECDC4;
$apple-chic: #C7F464;
$cheery-pink: #FF6B6B;
$grandmas-pillow: #C44D58;
$jumbotron-bg: $mighty-slate;
$navbar-default-color: $mighty-slate;
$body-bg: $mighty-slate;

@import "bootstrap";

body {
  background: image_url('concert_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 40px;
}

.navbar-brand img {
  max-width: 200px;
  margin-top: -10px;
  z-index: 2;
  position: absolute;
}

.dropdown {
  position: absolute;
  z-index: 2;
}

.jumbotron {
  color: $cheery-pink;
  border-radius: 6px;
  background-color: transparent;
  h2 {
    color: $cheery-pink;
    font-weight: bold;
  }
}

.navbar-form {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  margin-top: 7px;
  z-index: 1;
}

.btn-default {
  background-color: $mighty-slate;
  color: $apple-chic;
}

.foot-fixed-bottom {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: $apple-chic;
  height: 30px;
  padding: 5px;
  .container {
    text-align: right;
  }
}

form {
  h2 {
    color: $apple-chic;
    font-size: 300%;
  }
  .btn {
    color: $apple-chic;
  }
}

.error_messages {
  position: fixed;
  top: 45%;
  left: 1%;
  font-family: 'Roboto', sans-serif;
  background-color: $grandmas-pillow;
  font-size: 150%;
  color: white;
  text-align: center;
  min-width: 300px;
  ul {
    padding: 0;
  }
  li {
    padding: 0;
    list-style-type: none;
  }
}
